[submodule "libonvif/pybind11"]
	path = libonvif/pybind11
	url = https://github.com/pybind/pybind11
[submodule "libavio"]
	path = libavio
	url = https://github.com/sr99622/libavio
[submodule "liblivemedia"]
	path = liblivemedia
	url = https://github.com/sr99622/liblivemedia
