build*/
dist/
*.egg-info
.vscode/
sample.pro.user
__pycache__/
bin/
pyvenv.cfg
share/
*.pt
*.engine
*.onnx
*.whl
*.snap
*.dmg
libonvif/libonvif/*.so.*
libonvif/libonvif/*.so
libonvif/libonvif/*.dll
libonvif/libonvif/*.dylib
assets/scripts/components/libxml2/
assets/scripts/components/windows/python/*.exe
assets/scripts/components/windows/installer/*.exe
assets/scripts/components/mac/*.pkg
assets/scripts/components/mac/changes*.plist
runs/
.DS_Store
._.DS_Store
cache/
logs/
repo/
.flatpak-builder/
*.flatpak
env/