[submodule "libonvif/pybind11"]
	path = libonvif/pybind11
	url = https://github.com/pybind/pybind11
[submodule "libavio"]
	path = libavio
	url = http://github.com/stephen/libavio
[submodule "liblivemedia"]
	path = liblivemedia
	url = http://github.com/stephen/liblivemedia
[submodule "kankakee"]
	path = kankakee
	url = https://github.com/sr99622/kankakee
