Source: libonvif
Section: devel
Priority: optional
Maintainer: Stephen Rhodes <sr99622@gmail.com>
Build-Depends: debhelper-compat (= 13),
  , cmake
  , libxml2-dev
  , libqtav-dev
  , qtbase5-dev
Standards-Version: 4.5.1
Homepage: https://github.com/sr99622/libonvif
Rules-Requires-Root: no

Package: libonvif
Section: utils
Architecture: any
Multi-Arch: no
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: ONVIF IP camera client library
 Implementing the client side of the ONVIF specification for communicating
 with IP enabled compatible cameras.
