# vim: sw=2

name: Build CI

on:
  push:
  pull_request:
  release:
    types: [published]
  check_suite:
    types: [rerequested]

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: ["debian:bullseye", "debian:bookworm", "debian:sid"]
    container:
      image: ${{ matrix.image }}
      options: --cpus=2
    steps:
    - name: Dump GitHub context
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: echo "$GITHUB_CONTEXT"

    - name: Install pre-dependencies
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        set -e
        set -x
        apt --quiet update
        # Install stuff needed to check out the linuxcnc repo and turn it into a debian source package.
        apt --yes --quiet install --no-install-suggests eatmydata
        eatmydata apt --yes --quiet install --no-install-suggests git devscripts

    - uses: actions/checkout@v3
      with:
        # "fetch-depth: 0" fetches all of history, this is needed by
        # our build system to determine the version from tags
        fetch-depth: 0

    - name: Build source
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        set -e
        set -x
        #eatmydata apt --yes --quiet build-dep --indep-only .
        eatmydata apt --yes --quiet install cmake libxml2-dev qtbase5-dev
        mkdir builddir && cd builddir
        eatmydata cmake -DBUILD_GUI=1 ..
        eatmydata make
